/* .focused .form-control
{
    border-color: #5e72e4;
}
.form-control:focus
{
    color: #8898aa;
    border-color: #5e72e4;
    outline: 0;
    background-color: #fff;
    box-shadow: 0 3px 9px rgba(50, 50, 9, 0), 3px 4px 8px rgba(94, 114, 228, .1);
} */

[data-toggle=buttons]:not(.btn-group-colors)>.btn.active {
    color: #fff;
    background-color: #5e72e4;
}